@import url(fonts.css);
@import url(common.css);

/* nav */

.nav {
    padding: 25px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}

.nav__list {
    display: flex;
    gap: 40px;

    @media (width < 1024px) {
        flex-direction: column;
        align-items: center;
    }
}

.nav__link,
.nav__dropdown-link {
    color: #000;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav__form {
    max-width: 212px;
    width: 100%;
    display: flex;
    gap: 4px;

    @media (width < 540px) {
        max-width: unset;
    }
}

.nav__form-input {
    border: 1px solid #41A28E;
    padding: 6px 12px;
    font-family: "Roboto";
    flex-grow: 1;
}

.nav__form-btn {
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #41A28E;
    cursor: pointer;
    flex-shrink: 0;
}

.nav__logo {
    flex-shrink: 0;
}

.nav__item {
    position: relative;

    &:hover .nav__dropdown {
        opacity: 1;
        z-index: 12;
    }
}

.nav__dropdown {
    border: 1px solid #E5E5E5;
    width: 160px;
    position: absolute;
    top: 28px;
    background: #fff;
    z-index: -1;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}

.nav__dropdown-link {
    padding: 12px 30px;
}

.nav__dropdown-item:not(:last-of-type) {
    border-bottom: 1px solid #E5E5E5;
}

.nav__burger {
    display: none;
    order: 1;
    position: relative;
    z-index: 100;

    @media (width < 1024px) {
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;

        &:hover~.nav__menu {
            right: 0;
        }

        .nav__burger-line {
            width: 100%;
            height: 2px;
            background: #000;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                background: inherit;
                width: 100%;
                height: 100%;
            }

            &::before {
                top: -10px;
            }

            &::after {
                top: 10px;
            }
        }
    }

    @media (width < 540px) {
        order: unset;
    }
}

.nav__menu {
    @media (width < 1024px) {
        position: fixed;
        height: 100dvh;
        background: #fff;
        top: 0;
        right: -50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        border-left: 2px solid #000;
        transition: 0.4s;
        overflow: hidden;
        z-index: 100;
    }

    @media (width < 540px) {
        right: -80%;
        width: 80%;
    }
}

/* nav */

/* intro */

.intro {
    position: relative;
    height: calc(100dvh - 82px);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        z-index: 11;
        gap: 30px;
    }
}

.intro__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.intro__title {
    color: #fff;
    padding: 16px 60px;
    background: rgba(0, 0, 0, 0.7);
}

.intro__subtitle {
    color: #fff;
    font-size: 22px;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
}

.intro__btn {
    width: 131px;
}

/* intro */

/* fashion */

.fashion {
    padding: 48px 0 72px;
}

.fashion__cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.fashion__card {
    border: 1px solid #41A28E;
    max-width: 255px;
    width: 100%;
    position: relative;
    overflow: hidden;

    &:hover .fashion__card-txt {
        bottom: 0;
    }

    @media (width < 1140px) {
        max-width: unset;
        width: 48%;
    }

    @media (width < 768px) {
        width: 100%;
    }
}

.fashion__card-image {
    width: 100%;
}

.fashion__card-txt {
    color: #fff;
    font-size: 25px;
    background: rgba(75, 72, 72, 0.7);
    text-align: center;
    padding: 2px 0;
    position: absolute;
    bottom: -22%;
    width: 100%;
    transition: 0.4s;
}

.fashion__title {
    margin-top: 52px;
}

/* fashion */

/* collection */

.collection {
    padding: 120px 0 112px;
}

.collection__abovetitle {
    color: #fff;
    font-size: 20px;
}

.collection__title {
    color: #fff;
    text-align: left;
}

.collection__btn {
    max-width: 190px;
    width: 100%;
    margin-top: 22px;
}

/* collection */

/* products */

.products {
    padding: 50px 0;
}

.products__cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.products__card {
    max-width: 255px;
    width: 100%;
    position: relative;

    &[data-info]::before {
        content: attr(data-info);
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 18px;
        background: #4B484B;
        color: #fff;
        font-size: 12px;
        font-family: "Roboto";
        z-index: 1;
    }
}

.products__card-image {
    width: 100%;
}

.products__card-info {
    position: relative;
    overflow: hidden;

    &:hover .products__card-basket {
        bottom: 0;
    }
}

.products__card-basket {
    position: absolute;
    bottom: -15%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 20px;
    transition: 0.4s;
}

.products__card-add {
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.products__card-icons {
    display: flex;
    gap: 22px;
}

.products__card-link {
    display: flex;
}

.products__card-title {
    font-size: 22px;
    font-weight: 400;
    margin-top: 43px;
}

.products__card-price {
    font-size: 18px;
    margin-top: 6px;
    font-feature-settings: "pnum" on, "lnum" on, "liga" off;
    display: flex;
    gap: 15px;

    span {
        text-decoration: line-through;
        color: #666;
    }
}
/* products */
/* footer */
.footer {
    background: #000;
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 36px 15px;
        gap: 30px;
    }
}

.footer__card {
    max-width: 255px;
    width: 100%;
}

.footer__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.footer__link {
    font-size: 14px;
    color: #fff;
    font-family: "Roboto";
    padding: 10px 0;
    display: flex;
    gap: 10px;

    &:has(img) {
        padding: 6px 0;
    }
}
/* 
.footer__link:has(img) {
    padding: 6px 0;
} */

.footer__input {
    background: #fff;
    color: #909090;
    padding: 14px 10px;
    font-family: "Roboto";
    font-size: 14px;
}

.footer__btn {
    color: #fff;
    background: #41A28E;
    padding: 12px 10px;
    font-family: "Roboto";
    font-size: 16px;
}

.footer__form {
    display: flex;
    padding-bottom: 20px;
}

.footer__desc {
    font-family: "Roboto";
    font-size: 14px;
    margin-bottom: 20px;
}

.footer__icons {
    display: flex;
    gap: 25px;
}

.footer__design {
    padding: 40px 15px;
    font-size: 18px;
    color: #666;
    background: #121212;
    text-align: center;
    font-family: "Roboto";

    span {
        font-family: "Roboto";
        text-shadow: 0 0 4px #e52d27;
    }
}
/* footer */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #41A28E;
}